<div class="header">
  <div class="wrapper">
    <div class="nav-logo">
    <%= link_to "/#home" ,data: {turbolinks: "false"} do %>
      <%= image_tag "logo-sheep.png", alt: "ひつじロゴ", id: "assets", class: "" %>
    <% end %>
      
    </div>
    <div class="nav">
      <ul class="nav--ul">
        <li><%= link_to "Home", "/#home", data: {turbolinks: "false"}%></li>
        <li><%= link_to "About", "/#about", data: {turbolinks: "false"}%></li>
        <li><%= link_to "Skills", "/#skills", data: {turbolinks: "false"}%></li>
        <li><%= link_to "Portfolio","/#portfolio", data: {turbolinks: "false"} %></li>
        <li><%= link_to "Service", "/#service", data: {turbolinks: "false"}%></li>
        <li><%= link_to "Contact","https://docs.google.com/forms/d/e/1FAIpQLScgbjajJ5uBlUC22UOxIPpGbCBtQz40SIu_y9MYnYRRimhSFg/viewform?usp=sf_link", target: :"_blank" %></li>
      </ul>
    </div>

    <p class="btn-gnavi">
      <span></span>
      <span></span>
      <span></span>
    </p>

    <nav id="global-navi">
      <ul>
        <li class="global-navi-li"><%= link_to "Home", "/#home", data: {turbolinks: "false"}%></li>
        <li class="global-navi-li"><%= link_to "About", "/#about", data: {turbolinks: "false"}%></li>
        <li class="global-navi-li"><%= link_to "Skills", "/#skills", data: {turbolinks: "false"}%></li>
        <li class="global-navi-li"><%= link_to "Portfolio","/#portfolio", data: {turbolinks: "false"} %></li>
        <li class="global-navi-li"><%= link_to "Service", "/#service", data: {turbolinks: "false"}%></li>
        <li class="global-navi-li"><%= link_to "Contact","https://docs.google.com/forms/d/e/1FAIpQLScgbjajJ5uBlUC22UOxIPpGbCBtQz40SIu_y9MYnYRRimhSFg/viewform?usp=sf_link", target: :"_blank" %></li>
      </ul>
    </nav>

  </div>
</div>