<div class="header">
  <div class="wrapper">
    <div class="nav-logo">
      <%= image_tag "logo-sheep.png", alt: "ひつじロゴ", id: "assets", class: "" %>
    </div>
    <div class="nav">
      <ul class="nav--ul">
        <li><%= link_to "Home", "/", data: {turbolinks: "false"}%></li>
        <li><%= link_to "About", "/#about", data: {turbolinks: "false"}%></li>
        <li><%= link_to "Skills", "/#skills", data: {turbolinks: "false"}%></li>
        <li><%= link_to "Portfolio","/#portfolio", data: {turbolinks: "false"} %></li>
        <li><%= link_to "Service", "/#service", data: {turbolinks: "false"}%></li>
        <li><%= link_to "Contact","https://docs.google.com/forms/d/e/1FAIpQLScgbjajJ5uBlUC22UOxIPpGbCBtQz40SIu_y9MYnYRRimhSFg/viewform?usp=sf_link", target: :"_blank" %></li>
      </ul>
    </div>
  </div>
</div>