<section class="about_top" id="about_top">
  <%= render "header"%>

  <div class="about_inner wrapper" id="about_top">

    <div class="about-box">
      <div class="about-image">
        <%= image_tag "michiko01.jpg", alt: "Michiko Sakaiの写真", class: "Michiko Sakaiの写真" %>
      </div>
      <div class="about-text">

        <div class="about-text__plf-box">
          <div class="about-text__plf-box--name-box">
            <h2>Michiko Sakai</h2>
            <p class="birthday">1986年 1月7日生まれ <span class="age"> (<%= @age%>) </span></p>
          </div>
 
          <div class="social-box">
            <%= link_to "https://twitter.com/yoshitaro_ms" ,class: "icon-button twitter ",target: :"_blank" do %>
              <i class="fab fa-twitter icon-twitter"></i><span></span>
            <% end %>
            <%= link_to "https://github.com/yoshitaro2019" ,class: "icon-button github ",target: :"_blank" do %>
              <i class="fab fa-github icon-github"></i><span></span>
            <% end %>
            <%= link_to "https://yoshitaro-blog.com/" ,class: "icon-button blog ",target: :"_blank" do %>
              <i class="fas fa-pen icon-blog"></i><span></span>
            <% end %>
          </div>
        </div>

        

        <div class="about-text--carrar-box">
          <h3>経歴</h3>
          <p class="carrar">2009年 3月 <span class="blank"></span >和菓子の製造販売会社 就職 <span class="br">（販売職）</span></p>
          <p>2019年 9月 <span class="blank"></span >テックキャンプ 渋谷校 / <span class="br2">エンジニア / 夜間・休日コース 入校</span></p>
          <p>2020年 4月 <span class="blank"></span >テックキャンプ卒業</p>
        </div>
        


      </div>
    </div>
  </div>
</section>


<section class="about_challenge wrapper">
  <h2>自己の取り組み <span>（ 2019年 2月〜 ）</span></h2>
    <p>作業時間 <span class="blank"></span>平日：30分〜1時間 / 休日：4〜6時間</p>
    <div class="about_challenge__blog">
      <h3>ブログ</h3>
      <span class="h3-underline"></span>
        <p>2019年2月 <span class="blank"></span >独学でブログをはじめる</p>
        <p>記事数：約20記事</p>
        <p>アフィリエイト成果：月1000〜3000円</p>
        <p>現在SEOライティングについて学習中</p>
    </div>
    
    <div class="about_challenge__programming">
      <h3>プログラミング / デザイン学習</h3>
      <span class="h3-underline"></span>
        <ul>書籍
          <li>1冊ですべて身につく <span class="br"></span>HTML&CSSとWebデザイン 入門講座</li>
          <li>たのしいRuby</li>
          <li>Ruby on Rails5 アプリケーションプログラミング </li>
          <li>本当によくわかる JavaScriptの教科書</li>
          <li>jQuery 最高の教科書</li>
          <li>Sassの教科書</li>
          <li>いちばんやさしい Git入門教室</li>
          <li>プロになるためのWeb技術入門</li>
          <li>達人に学ぶDB設計 徹底指南書</li>
          <li>ノンデザイナーズ・デザインブック</li>
          <li>なるほどデザイン</li>
          <li>沈黙のWebライティング</li>
        </ul>
        <ul>note
          <li>コーディング練習 noteマガジン</li>
          <li>プログラミング系全部盛り</li>
        </ul>
    </div>

    <div class="about_challenge__another">
      <h3>その他</h3>
      <span class="h3-underline"></span>
      <ul>
        <li>インデックス投資</li>
        
      </ul>
    
    </div>
</section>

<section class="objective wrapper">
  <div class="objective__box">
    

    <div class="objective__box--text">
      <h2>仕事について</h2>
        <p>共に働いていく仲間とのコミュニケーションを重視して仕事をします。</p>
        <p>監督職としての経験から、チームワークが成り立っていない職場では、目標に向かって協力し合い、力を発揮するのが難しいことを経験しているからです</p>
        <p>業務としては、フロントサイドでのコーダーを希望しています。</p>
        <p>現在はコーダーを希望してはいますが、将来は友人や知人にホームページ作成を依頼されたときに作れるように、SEOを意識したマークアップ / Webライティング / Webデザイン / PHP / WordPress / サーバーの構築までできるようになることを目標としています</p>
        <p>担当業務以外は、自主的に学習を進めていく予定です</p>
    </div>
    

 
    <div class="objective__box--image">
      <%= image_tag "mac02.jpg", alt: "Michiko Sakaiの写真", class: "Michiko Sakaiの写真" %>
    </div>

  </div>
</section>



    

  
<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave-svg"><defs></defs><path id="wave" d=""/></svg>
 
<footer>
   <p><small>&copy; 2020 Michiko Sakai portfolio</small></p>
</footer>
