<section class="home big-bg" id="home">
  <%= render "header"%>

  <div class="home-body">
    <h1><span class=h1>Michiko Sakai</span> <span class="br h1">Portfolio Website</span></h1>
  </div>
</section>



<section class="about wrapper section-top" id="about">
  <div class="title">
    <h2 class="fadein01">ABOUT</h2>
    <div class="title-underline fadein01"></div>
  </div>

  <div class="about-box fadein01">
    <div class="about-image">
      <%= image_tag "michiko01.jpg", alt: "Michiko Sakaiの写真", class: "" %>
    </div>
    <div class="about-text">
      <p>お菓子の販売職でスタッフを3年間経験したあと、8年近く店長を勤めました。</p>
      <p>結婚・出産を機に自分のライフワークを改めて考え直し、時間や場所にとらわれないWebクリエイターとしての道を切りひらくため、テックキャンプに入校。</p>
      <p>現職を続けながらエンジニアコース（夜間/休日スタイル）にて約半年間、フロントエンドから、サーバーサイド、サーバー構築まで学習しました。</p>
      

      <%= link_to "/home/about" ,data: {turbolinks: "false"} do%>
      <button class="lead-more-btn">Lead More</button>
      <% end %>
    </div>
  
  </div>

</section>


<%= link_to "/home/skills" ,data: {turbolinks: "false"} do %><% end %>




<section class="skills" id="skills">
  <div class=" section-top2 wrapper">
    <div class="title">
      <h2 class="fadein01">SKILLS</h2>
      <div class="title-underline fadein01"></div>
    </div>
    <div class="skill-box fadein01">
      <ul class="skill-item">
        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "html-5.svg", alt: "HTML5のロゴ", class: "" %>
            <p>HTML5</p>
          </li>
        <% end %>
        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "css-3.svg", alt: "CSS3のロゴ", class: "" %>
            <p>CSS3</p>
          </li>
        <% end %>
        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "sass.svg", alt: "Sassのロゴ", class: "" %>
            <p>Sass</p>
          </li>
        <% end %>
        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "javascript.svg", alt: "JSのロゴ", class: "" %>
            <p>Java Script</p>
          </li>
        <% end %>
        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "jquery.svg", alt: "jQueryのロゴ", class: "" %>
            <p>jQuery</p>
          </li>
        <% end %>
        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "ruby.svg", alt: "Rubyのロゴ", class: "" %>
            <p>Ruby</p>
          </li>
        <% end %>

        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "rails.svg", alt: "Railsのロゴ", class: "" %>
            <p>Rails</p>
          </li>
        <% end %>

        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "github-icon.svg", alt: "GitHubのロゴ", class: "" %>
            <p>Git/GitHub</p>
          </li>
        <% end %>


        <%= link_to "/home/skills" ,data: {turbolinks: "false"} do %>
          <li class="skill-items">
            <%= image_tag "aws.svg", alt: "AWSのロゴ", class: "" %>
            <p>AWS</p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>


<section class="portfolio section-top wrapper" id="portfolio"> 
  <div class="title">
    <h2 class="fadein01">PORTFOLIO</h2>
    <div class="title-underline fadein01"></div>
  </div>

  <div class="portfolio-box fadein01">
    <ul class="portfolio-item">
      <li class="portfolio-items">
        <%= link_to image_tag("Bootstrap4_website.png"), "/home/bootstrap01", data: {turbolinks: "false"} %>
      </li>
      <li class="portfolio-items">
        <%= link_to image_tag("Nuno_website.png"), "/home/bootstrap02", data: {turbolinks: "false"} %>
      </li>
      <li class="portfolio-items">
        <%= link_to image_tag("kurisuta01.png"), "/home/kurisuta01", data: {turbolinks: "false"} %>
      </li>
      <li class="portfolio-items">
        <%= link_to image_tag("kurisuta02.png"), "/home/kurisuta02", data: {turbolinks: "false"} %>
      </li>
      <li class="portfolio-items">
        <%= link_to image_tag("chat-space.png"), "/home/chat_space", data: {turbolinks: "false"} %>
      </li>
      <li class="portfolio-items">
        <%= link_to image_tag("FreemarketSample61a.png"), "/home/freemarket61", data: {turbolinks: "false"} %>
      </li>
    
    </ul>
  </div>
</section>


<section class="service" id="service">
  <div class="section-top2 wrapper">

    <div class="title">
      <h2 class="fadein01">SERVICE</h2>
      <div class="title-underline fadein01"></div>
    </div>

  <div class="service-inner fadein01">
    <div class="service-box">
      <div class="service-title">
        <%= image_tag "pc-icon02.png", alt: "PCの画像", class: "" %>
        <h3>Webページ制作 25,000円～</h3>
      </div>



      <div class="service-text">
        <p>テンプレートを元にレスポンシブ対応なWebページをデザイン、コーディングします。</p>
        <p class="deadline">納期目安：4週間以内</p>
      </div>

    </div>
  </div>
  </div>
</section>


<section class="contact wrapper" id="contact">
  <div class="title">
    <h2 class="fadein01">CONTACT</h2>
    <div class="title-underline fadein01"></div>
  </div>
  <div class="contact-inner fadein01">
    <div class="contact-box">
      <p>お気軽にお問い合わせください</p>
      <button class="contact-btn">
        <%= link_to "Contact","https://docs.google.com/forms/d/e/1FAIpQLScgbjajJ5uBlUC22UOxIPpGbCBtQz40SIu_y9MYnYRRimhSFg/viewform?usp=sf_link", target: :"_blank"%>
      </button>
    </div>



  </div>

</section>



    

  
  <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave-svg"><defs></defs><path id="wave" d=""/></svg>
 

<footer>



   <p><small>&copy; 2020 Michiko Sakai portfolio</small></p>

</footer>
