<section class="skill_top" id="skill_top">
  <%= render "header"%>

  <div class="skill-inner wrapper">
    <h2>SKILLS</h2>
    <div class="title-underline"></div>
      <ul> 
        <li class="skill-box01"> 
          <figure class="skill-img"><%= image_tag "html-5.svg", alt: "HTML5のロゴ", class: "" %></figure><div class="skill-text"><p>デザインをブラウザ上に表現できる</p>
          <p>マークアップについては学習中</p></div>
        </li>
        <li class="skill-box01">
          <figure class="skill-img"><%= image_tag "css-3.svg", alt: "CSS3のロゴ", class: "" %></figure><div class="skill-text"><p>デザインをブラウザ上に表現できる</p>
          <p>CSS設計については学習中</p></div>
        </li>
        <li class="skill-box02">
          <figure class="skill-img"><%= image_tag "sass.svg", alt: "Sassのロゴ", class: "" %></figure><div class="skill-text"><p>ネスト、変数、演算などの基本的なことができる</p></div>
        </li>
        <li class="skill-box02">
          <figure class="skill-img"><%= image_tag "javascript.svg", alt: "JavaScriptのロゴ", class: "" %></figure><div class="skill-text"><p>ハンバーガーメニューなどの基本的な動作の実装ができる</p></div>
        </li>
        <li class="skill-box02">
          <figure class="skill-img"><%= image_tag "jquery.svg", alt: "jQueryのロゴ", class: "" %></figure><div class="skill-text"><p>デザインに合わせたプラグインの実装ができる</p></div>
        </li>
        <li class="skill-box02">
          <figure class="skill-img"><%= image_tag "ruby.svg", alt: "Rubyのロゴ", class: "" %></figure><div class="skill-text"><p>関数/引数/条件文/繰り返しなどの基本的な処理ができる</p></div>
        </li>
        <li class="skill-box02">
          <figure class="skill-img"><%= image_tag "rails.svg", alt: "Railsのロゴ", class: "" %></figure><div class="skill-text"><p>簡単なCRUD処理やdeviceのログイン機能の実装ができる</p></div>
        </li>
        <li class="skill-box03">
          <figure class="skill-img"><%= image_tag "github-icon.svg", alt: "GitHubのロゴ", class: "" %></figure><div class="skill-text"><p>commit / pull / push / branch / confrict / merge などの<span class="br"></span>チーム開発おける基本的な操作ができる</p></div>
        </li>
        <li class="skill-box04">
          <figure class="skill-img"><%= image_tag "aws.svg", alt: "AWSのロゴ", class: "" %></figure><div class="skill-text"><p class="aws">Railsアプリのデプロイ作業経験がある</p></div>
        </li>
        
      </ul>

    </div>








</section>


    

  
<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave-svg"><defs></defs><path id="wave" d=""/></svg>
 
<footer>
   <p><small>&copy; 2020 Michiko Sakai portfolio</small></p>
</footer>
